<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mi primera app</title>
    <meta name="description" content="Learming Python">

    <!--Trabajo conesta libreria porque tiene muy buenos archivos CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <!--Los recursos siempre tienen que estar en el folder STATIC
        Es necesario utilizaar el URL_FOR para llamar a la direccion donde esta el recurso
    -------->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!----------------------------------------------------------------------->
    <!----------------------NAVIGATION BAR----------------------------------->
    <!----------------------------------------------------------------------->
    <!-- Le indicamos que queremos q se desplige en forma de nav bar --->
    <div class="navbar navbar-right">
      <div class="container-fluid">
        <!-- LOGIN BUTTON-->
        <!-- Asigno un ID en el modal que llamo con la funcion de javascript  -->
        <!-- Utilizo las clase de boton de color verde -->
        <!-- Con el trigger del boton llamo a la funcion de javascript con el ID especificado -->
        <button onclick="document.getElementById('loginModal').style.display='block'" class="w3-button w3-gray w3-large">Login</button>

        <!-- LOGIN BUTTON-->
        <!-- Asigno un ID en el modal que llamo con la funcion de javascript  -->
        <!-- Utilizo las clase de boton de color verde -->
        <!-- Con el trigger del boton llamo a la funcion de javascript con el ID especificado -->
        <button onclick="document.getElementById('registerModal').style.display='block'" class="w3-button w3-gray w3-large">Register</button>
      </div>
    </div>

    <!----------------------------------------------------------------------->
    <!----------------------     LOGIN MODAL   ------------------------------>
    <!----------------------------------------------------------------------->
    <!-- Utilizo un Modla para el login -->
    <!-- Con el ID el boton sabe a cual funcion llamar -->
    <div id="loginModal" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
          <!----------------------------------------------------------------------->
          <div class="w3-center"><br>
            <span onclick="document.getElementById('loginModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <img src="{{ url_for('static', filename='img/avatar.webp') }}" alt="Avatar" style="width:20%" class="w3-circle w3-margin-top">
          </div>
          <!----------------------------------------------------------------------->

          <!------------------------- FORM ----------------------------------------->
          <form class="w3-container" action="/login" method ='POST'>
            <div class="w3-section">
              <label><b>Email</b></label>
              <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter E-mail" name="email" required>

              <label><b>Password</b></label>
              <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="password" required>

              <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
            </div>
          </form>
          <!------------------------- /FORM ----------------------------------------->

          <!----------------------------------------------------------------------->
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('loginModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
          </div>
          <!----------------------------------------------------------------------->

        </div>
      </div>
    </div>

    <!----------------------------------------------------------------------->
    <!----------------------     REGISTER    ----------------------------------->
    <!----------------------------------------------------------------------->
    <!-- Utilizo un Modla para el register -->
    <!-- Con el ID el boton sabe a cual funcion llamar -->
    <div id="registerModal" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
          <!----------------------------------------------------------------------->
          <div class="w3-center"><br>
            <span onclick="document.getElementById('registerModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            <img src="{{ url_for('static', filename='img/avatar.webp') }}" style="width:30%" class="w3-circle w3-margin-top">
          </div>
          <!----------------------------------------------------------------------->

          <!------------------------- FORM ----------------------------------------->
          <form class="w3-container" action="/register" method ='POST'>
            <div class="w3-section">

              <label><b>Name</b></label>
              <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Name" name="name" required>

              <label><b>Email</b></label>
              <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter E-mail" name="email" required>

              <label><b>Password</b></label>
              <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="password" required>

              <label><b>Re-type Password</b></label>
              <input class="w3-input w3-border" type="password" placeholder="Enter Password" name="password" required>

              <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Register</button>
            </div>
          </form>
          <!------------------------- /FORM ----------------------------------------->

          <!----------------------------------------------------------------------->
          <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('loginModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
          </div>
          <!----------------------------------------------------------------------->

        </div>
      </div>
    </div>


    {# Esto es un comentario#}
    {% block content %}


    {% endblock %}

  </body>

</html>
